
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#008080;
    opacity: .9;
    padding-top: 60px;
    transition: 0.7s;
    overflow-x: hidden;
}

.nav ul{

    padding: 0;

}
.nav li:hover {
    border-left: 9px solid #3e84c1;
    background-color:  #34383d;
}

.nav a {
    display: block;
    padding: 20px 30px;
    color: #ccc;
    text-decoration: none;
    font-size: 25px;
}
.nav a:hover{
    color: #fff;
    transition: .5s;
}

.nav .close{
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 30px;
}
.slide a {
        font-size: 36px;
        color:  #1cc2b1 ;
}
#content {
        padding: 20px;
        transition: margin-left .7s;
        width: 100%;
}

  
